nav
	div.nav-container
		div.columns.nav-columns
			div.column.is-7.nav-item 
				h1 NAME
			div.column.nav-item.text-center 
				a(href="/work") WORK
			div.column.nav-item.text-center
				a(href="/about") ABOUT
			div.column.nav-item.text-center 
				a(href="/contact") CONTACT
		

